h1{
    margin: 0 auto;
    text-align: center;
}

.game-container{
    width: 500px;
    height: 500px;
    border: 5px rgb(255, 0, 0) solid;
    margin: 0 auto;
}

.board{
    background-image: url("../images/pixel-art-bg.avif");
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}