body{
    background-color: black;
    color: white;
}

/* Game Container */
.game-container{
    width: 1000px;
    height: 600px;
    border: 5px red solid;
    margin: 0 auto;
}

/* Game Starter */
.game-starter{
    display: flex;
    justify-content: space-between;
}

/* Game Navigator */
.game-navigator ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.game-navigator a{
    text-decoration: none;
    color: white;
}

.game-navigator li{
    width: 300px;
    height: 97px;
    position: relative;
    border: 2px blue solid;
}

.nav-container{
    width: 300px;
    height: 600px;
    border: 1px solid red;
}

/* Button Navigation */
button{
    width: 300px;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
}

/* Background-container */
.bg-container{
    width: 600px;
    height: 600px;
    position: relative;
    background-image: url("../images/pixel-art-bg.avif"); 
    background-size: cover;
    border: 1px solid red;
    display: block;
}

.bg-container h1{
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 50%;
}

/* Mario */
#mario{
    position: absolute;
    bottom: 8rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/* How to play */
.htp-display{
    display: none;
    width: 600px;
    height: 600px;
    position: relative;
    font-size: 1.8rem;
}
